body {
    background:#021859;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#0476D9;
}

.assignment img {
    width:200px;
    border: 2px solid #010A26;
    margin-right:20px;
}


h1 {
    color:#fff;
    text-align:center;
}

a {
    text-decoration:none;
    color: #fff;
}